<form action="/submit" method="post">
    <label for="name">Your name: </label>
    <input type="text" name = 'name'>

    <br>
    <label for="dojo">Dojo location: </label>
    <select name = 'location'>
        <option value="San Jose">San Jose</option>
        <option value="Sacramento">Sacramento</option>
    </select>

    <br>
    <label for="language">Favorite language: </label>
    <select name = 'language'>
        <option value="HTML">HTML</option>
        <option value="Python">Python</option>
        <option value="JavaScript">JavaScript</option>
        <option value="CSS">CSS</option>
    </select>

    <br>
    <label for="comment">Comment (Optional): </label>

    <br>
    <textarea name="comment" id="" cols="30" rows="10"></textarea>

    <br>
    <input type="submit" value="Button">
</form>